* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  margin: 2rem 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.buttons {
  padding: 5px 10px;

  &--clear {
    margin-left: auto;
    background-color: rgba(15, 107, 160,0.7);
    
  }

  &--clear:hover{
      background-color: rgba(15, 107, 160,1);

  }

  &--search {
      margin: 0 15px;
      background-color: rgba(31, 206, 31, 0.5);

  }

  &--search:hover{
      background-color: rgba(31, 206, 31, 1);

  }

  &--back {
    align-self: flex-end;
    background-color: rgba(15, 107, 160,0.7);
    
  }

  &--back:hover{
      background-color: rgba(15, 107, 160,1);

  }

}